.experience-card {
  width: 30rem;
  height: 40rem;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  box-shadow: 0 12px 18px 6px rgba(129, 33, 136, 0.659);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.experience-card:hover {
  transform: scale(1.03) !important;
  box-shadow: 0 8px 24px 10px rgba(129, 62, 164, 0.561) !important;
}
.company-logo-wrapper {
  margin-top: 1rem;
  width: 20rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.company-image {
  width: 100%;
  object-fit: cover;
}

.occupation-name {
  font-size: 2rem;
  padding: 0 1rem;
  font-weight: 900;
}

.experience-description {
  padding: 0 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.technologies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
