h1 {
  padding: 0 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-of-section {
  font-size: 6rem;
  padding: 2rem 0;
}

.first-section {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

#about-me-section {
  background: linear-gradient(142deg, rgba(15, 24, 41, 1) 0%, rgba(11, 18, 30, 1) 100%);
}

#skills-section {
  background-color: rebeccapurple;
}

#experience-section {
  background-color: green;
}

#projects-section {
  background-color: rgb(90, 185, 216);
}
