h1 {
  padding: 0 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-of-section {
  font-size: 5rem;
}

.first-section {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

#fp-nav > ul > li > a > span {
  background-color: white;
}
